<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@if (ViewBag.Title != null)
{ <title>@ViewBag.Title</title>}
else
{ <title>RBoard</title>}
@if (ViewBag.Description != null) 
{ <meta name="description" content="@ViewBag.Description" />}
else
{ <meta name="description" content="RBoard script" />}
