<!doctype html>
<html>
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial") 
</head>
<body>
    @await Html.PartialAsync("Site/NavPartial")
    @await Html.PartialAsync("ToastPartial")
    <main class="container py-4" role="main">
        @RenderBody()
    </main>
    @await Html.PartialAsync("Site/FooterPartial")

    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>