<div class="border rounded">
    <form class="form-signin" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.returnUrl">
        <div class="form-group">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-at"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" aria-label="Email" placeholder="Email">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-unlock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" aria-label="Password" placeholder="Password">
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">
            <i class="fas fa-sign-in-alt fa-w-16"></i> Sign in
        </button>
    </form>
</div>